{% extends "base.html.twig" %}

{% block title %}Ticket{% endblock %}
{% block body %}
        <h3>Nom de l'évènement :</h3>
        <br>
        <li class="liDescription">{{ tickets.eventName }}</li>
        <br><br>
        <h3>Description de l'évènement :</h3>
        <li class="liDescription">{{ tickets.eventDescription }}</li>
        <br><br>
        <button type="button" class="buttonAchat">Acheter le ticket</button>
{% endblock %}